@use '../mixins' as *;
@use '../variables' as *;

footer{
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $space100 $space200;
    position: relative;
}

.footer-left, .footer-center, .footer-right, .footer-info{
    @include flex-center;
    flex-direction: column;
    text-align: center;
    gap: $space20;
    height: 100%;
}

.footer-left img{
    width: 250px;
}

.footer-right, .footer-center, .footer-info{
    justify-content: flex-end;
}

.footer-left{
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 40%;
}

.footer-center{
    text-align: start;
}

.footer-right{
    gap: unset;
}

.footer-right img{
    width: 70%;
}

.footer-reseau{
    @include flex-center;
    gap: $space20;
}

.footer-reseau svg{
    width: 80px;
}

.footer-reseau .logo-linkedin{
    width: 120px;
}

#noeud-footer{
    width: 220px;
    position: absolute;
    top: 0;
    right: 0;
    rotate: (15deg);
    transform: translate(-65%, -10%);
}