@use '../mixins' as *;
@use '../variables' as *;
@use '../base/typography' as *;


.section-menu-dynamic{
    padding: $space100;
    margin-top: 165px;
}

.menu-dynamic{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: $space40;
    width: 100%;
    height: 100%;
    margin-top: $space100
}

.menu-choix, .menu-realisation, .entete-choix, .bebe-choix, .accompagnement-choix, .menu-validation{
    @include flex-center;
    border-radius: $radius20;
    box-shadow: 3px 4px 4px 4px rgba(20,0,4,0.2);
    width: 100%;
    height: 100%;
}

.menu-realisation{
    padding: $space100;
}

.menu-choix{
    flex-direction: column;
    width: auto;
    gap: $space60;
    padding: $space60;
}

.menu-entete-choix{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: $space20;
}

.entete-choix{
    width: auto;
    margin-right: auto
}

.menu-bebe-choix, .menu-accompagnement-choix{
    @include flex-center;
    display: none;
    flex-wrap: wrap;
    gap: $space40;
}

.entete-choix, .bebe-choix, .accompagnement-choix, .menu-validation{
    padding: $space20;
}

.entete-choix, .bebe-choix, .accompagnement-choix{
    background-color: $lavender;
}

.entete-choix:hover, .bebe-choix:hover, .accompagnement-choix:hover, .menu-validation:hover{
    background-color: $green;
    cursor: pointer;
}

.bebe-choix, .accompagnement-choix{
    width: auto;
}

.bebe-choix img, .accompagnement-choix img{
    width: 100px;
}

.menu-validation{
    background-color: $pink-secondary;
    width: auto;
    border: unset;
}

.entete-choix, .menu-validation{
    font-family: $font-secondary;
    font-weight: 500;
}

.menu-actif{
    display: flex;
}

.choix-actif{
    background-color: $green;
}