// couleurs

$dark: #140004;
$pink-primary: #FF708D;
$pink-secondary: #FFB7C5;
$lavender: #E6E6FA;
$creme: #FEF8D7;
$green: #31D068;

// Border

$radius20: 20px;

// Marge

$space20: 20px;
$space40: 40px;
$space60: 60px;
$space80: 80px;
$space100: 100px;
$space200: 200px;

